<!--{% extends 'flatpages/default.html' %}

# {% block content %}

# <form method="post">
# {% csrf_token %}
#    {{ form.as_p }}
#    <input type="submit" value="Sing up">
# </form>

# {% endblock %}
# ---------------------------------------------- -->
{% extends 'flatpages/default.html' %}

{% block content %}

{% load crispy_forms_tags %}

<!--Register-->
<div class="container py-5">
	<h1>Register</h1>
	<form method="POST">
		{% csrf_token %}
		{{ register_form|crispy }}
		<button class="btn btn-primary" type="submit">Sign Up</button>
	</form>
	<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
	<p>Or</p>
  <a href="{% provider_login_url 'google' %}">Sign up with Google</a>
</div>

{% endblock %}

